[user]
	name = Edward Beckett
	email = edward@edwardbeckett.com
	signingkey = D:\\Edward\\.gnupg\\CAF8FD6AEF7C3D2F154338CE6867174535679726.asc
[push]
	default = matching
[core]
	autocrlf = true
	safecrlf = warn
	editor = \"c:/Program Files/Vim/vim73/vim.exe\"
	filemode = false
	excludesfile = D:\\Edward\\.gitignore_global
[merge]
	tool = BeyondCompare3
[mergetool]
	prompt = false
[mergetool "bc3"]
	cmd = \"c:/program files/beyond compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[color]
	branch = always
	diff = always
	status = always
[diff]
	tool = bc3
	stat = true
	guitool = beyondcompare3
[difftool]
	prompt = false
[credential]
	helper = !\"C:/Git/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
[difftool "beyondcompare3"]
	path = C:/Program Files/Beyond Compare 3/bcomp.exe
	cmd = \"C:/Program Files/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "BeyondCompare3"]
	path = C:/Program Files/Beyond Compare 3/bcomp.exe
	cmd = \"C:/Program Files/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
        lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg = !"git lg1"
        hist = log --decorate --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[difftool "sourcetree"]
	cmd = 'C:/Program Files/Beyond Compare 3/BComp.exe' \"$LOCAL\" \"$REMOTE\"
